*{
    margin: 0;
    padding: 0;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

.n-container{
   display: flex;
   width: 1600px;
   height: 92px;
   justify-content: space-between;
   padding: 16px 120px;
}


.menu{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}

.menu a{
font-size: 16px;
color: #000000;
text-decoration: none;
}

.nbtn{
    width: 164px;
    height: 44px;
    font-size: 16px;
    background-color: #30B868;
    border: none;
    margin-top: 16px;
    margin-right: 120px;
    padding: 12px 16px;
    border-radius: 4px;
    gap: 10px;
    color: white;
    cursor: pointer;
}

.nbtn:hover{
    background-color: darksalmon;
    color: #000000;
}

.logo{
    width: 139px;
    height: 60px;
    padding: 16px 24px 16px 120px;
}

#banner{
    background: url("../assets/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 674px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 8px;
    gap: 20px;
}

.banner-content{
    text-align: center;   
}

.banner-content h1{
    font-size: 72px;
    font-weight: 700;
    font-style: bold;
    line-height: 84px;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 16px;
}

.banner-content h1 span{
    display: block;
    color: #30B868;
}

.banner-content p{
    width: 1360px;
    height: 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
}


.color-green{
    color: #469165;
    background-color: #FFFFFF;
    padding: 8px 12px;
    border-radius: 1000px;
}

.banner-btn{
   display: flex;
    gap: 16px;
    justify-content: center;
    margin: 24px;
}

.btnVault{
    width: 251px;
    height: 52px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    gap: 10px;
    cursor: pointer;
}
.btnWorks{
    width: 198px;
    height: 52px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
    background: transparent;
    border: 1px solid;
    border-radius: 4px;
    gap: 10px;
    cursor: pointer;
}
.btnVault:hover{
    color: #000000;
    background-color: darksalmon;
}

.btnWorks:hover{
    color: #000000;
    background-color: darksalmon;
}
