*{
    margin: 0;
    padding: 0;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

.n-container{
   display: flex;
   width: 1600px;
   height: 92px;
   justify-content: space-between;
   padding: 16px 120px;
}


.menu{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}

.menu a{
font-size: 16px;
color: #000000;
text-decoration: none;
}

.nbtn{
    width: 164px;
    height: 44px;
    font-size: 16px;
    background-color: #30B868;
    border: none;
    margin-top: 16px;
    margin-right: 120px;
    padding: 12px 16px;
    border-radius: 4px;
    gap: 10px;
    color: white;
    cursor: pointer;
}

.nbtn:hover{
    background-color: darksalmon;
    color: #000000;
}

.logo{
    width: 139px;
    height: 60px;
    padding: 16px 24px 16px 120px;
}

#banner{
    background: url("../assets/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 674px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 8px;
    gap: 20px;
}

.banner-content{
    text-align: center;   
}

.banner-content h1{
    font-size: 72px;
    font-weight: 700;
    font-style: bold;
    line-height: 84px;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 16px;
}

.banner-content h1 span{
    display: block;
    color: #30B868;
}

.banner-content p{
    width: 1360px;
    height: 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
}


.color-green{
    color: #469165;
    background-color: #FFFFFF;
    padding: 8px 12px;
    border-radius: 1000px;
}

.banner-btn{
   display: flex;
    gap: 16px;
    justify-content: center;
    margin: 24px;
}

.btnVault{
    width: 251px;
    height: 52px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    gap: 10px;
    cursor: pointer;
}
.btnWorks{
    width: 198px;
    height: 52px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
    background: transparent;
    border: 1px solid;
    border-radius: 4px;
    gap: 10px;
    cursor: pointer;
}
.btnVault:hover{
    color: #000000;
    background-color: darksalmon;
}

.btnWorks:hover{
    color: #000000;
    background-color: darksalmon;
}

.notes-container{
    text-align: center;
    flex-direction: column;
    margin-top: 60px;
}
.notes-container h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    color: #001931;
}
.notes-container p{
    font-weight: 400;
    line-height: 20px;
    font-size: 16px;
    margin-top: 20px;
    color: #627382;
}
.notes-card{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 60px;
    padding: 60px 120px 48px 120px;
}
.card-info{
    width: 322px;
    height: 300px;
    gap: 16px;
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.card-info h4{
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: #001931;
}
.card-info p{
    color: #627382;
   font-size: 16px;
   width: 274px;
   height: 40px;
   font-weight: 400;
   line-height: 20px;
   text-align: center;

}
.circle{
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    align-items: center;
}
.circle img{
    width: 30px;
    height: 30px;
}

.notes2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.notes-contents span{
    width: 700px;
    height: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #469165;
}

.notes-contents h2{
    margin-top: 20px;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: #001931;
}

.notes-contents p{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}

.notes-content2{
  margin-top: 40px;
  width: 700px;
  height: 128px;
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
}

.notes2-img{
    width: 600px;
    height: 600px;
    border-radius: 12px;
}

.notes3{margin-top: 40px;
    width: 100%;
    height: 506px;
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.notes-content3{
    width: 1360px;
    height: 234px;
    margin-top: 40px;
    margin-bottom: 100px;
    background-color: #F7F6F2;
    padding: 80px 40px 80px 40px;
    gap: 24px;
    border-radius: 12px;
}

.notes-contents3 h2{
    width: 1280px;
    height: 48px;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #001931;
}

.notes-contents3 p{
    margin-top: 20px;
    width: 1280px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #627382;
}

.notes-content3s button{
    width: 194px;
    height: 52px;
    margin-top: 20px;
    margin-left: -80px;
    color: #FFFFFF;
    padding: 12px 16px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
}
.notes-content3s button:hover{
    color: #000000;
    background-color: darksalmon;
}
.notes-content3s p{
    margin-top: 20px;
    margin-left: -80px;
    color: #627382;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
