*{
    margin: 0;
    padding: 0;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

.n-container{
   display: flex;
   width: 1600px;
   height: 92px;
   justify-content: space-between;
   padding: 16px 120px;
}


.menu{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}

.menu a{
font-size: 16px;
color: #000000;
text-decoration: none;
}

.nbtn{
    width: 164px;
    height: 44px;
    font-size: 16px;
    background-color: #30B868;
    border: none;
    margin-top: 16px;
    margin-right: 120px;
    padding: 12px 16px;
    border-radius: 4px;
    gap: 10px;
    color: white;
    cursor: pointer;
}

.nbtn:hover{
    background-color: darkcyan;
    color: #000000;
}

.logo{
    width: 139px;
    height: 60px;
    padding: 16px 24px 16px 120px;
}